h1 {
  text-align: center;
}

.main-Content {
  display: flex;
  justify-content: center;
}

.form-section {
  width: 200px;
}

.card-section {
  width: 200px;
}

.custonCardsSection {
  display: flex;
  justify-content: left;
  margin: 24px;
}
