h3 {
  color: white;
  margin-top: 10px;
}

h2 {
  width: 100%;
}

.add-new-card {
  border-bottom: 4px groove rgb(77, 75, 75);
  display: flex;
}

.card-preview {
  align-items: center;
  background-color: rgb(117, 15, 15);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 40px 40px;
  width: 50%;
}

.card-preview h3 {
  width: 100%;
}

.card-collection {
  display: flex;
}

.card-search {
  background-color: rgb(117, 15, 15);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 25%;
}

.card-search h3 {
  margin-top: 50px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  height: 850px;
  padding: 30px;
  width: 75%;
}

.cards-container h2 {
  margin-bottom: 30px;
}

.cards-pack {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px 50px;
}

.delete, .card-search button {
  align-self: center;
  background-color: whitesmoke;
  border: 3px solid hsl(354, 70%, 54%);
  color: hsl(354, 70%, 54%);
  margin-top: 10px;
}

.card-search button {
  align-self: flex-start;
  margin: 10px 0 10px 50px;
}
