.card-container {
  align-items: center;
  background-color: #023031;
  display: flex;
  flex: 1 1 480px;
  justify-content: center;
  padding: 48px 0;
}

.card {
  align-items: center;
  background-color: #316b52;
  border: 6px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  height: 25rem;
  justify-content: space-between;
  padding: 8px;
  width: 15rem;
}

.card-title {
  background-color: #023031;
  border-radius: 8px 8px 0 0;
  color: white;
  height: 32px;
  padding: 4px;
  text-align: right;
  width: 100%;
}

.card-image {
  background-color: yellow;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.card-image img {
  max-width: 100%;
  width: auto;
}

.card-description {
  color: white;
  font-size: 12px;
  height: 20px;
  margin-top: -6px;
  transform: rotate(-8deg);
}

.card-attr-container {
  align-items: center;
  background: white;
  border-radius: 0 0 8px 8px;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  color: black;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-end;
  padding-bottom: 16px;
  width: 100%;
}

.card-attr {
  align-items: center;
  display: flex;
  width: 90%;
}

.card-attr p {
  background-color: #eee;
  flex: 1;
  padding: 4px;
}

.card-attr span {
  background-color: #023031;
  border-radius: 0 10px 10px 0;
  color: white;
  height: 24px;
  line-height: 24px;
  padding: 2px 4px;
  width: 28px;
}
