.cardFull {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-left: 10px;
  margin-top: 10px;
  width: 18rem;
}

.cardName {
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}

.descricao {
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 15px;
  font-style: italic;
}

img {
  padding-left: 18px;
  padding-top: 15px;
  width: 15rem;
}

