.filter {
  display: flex;
  flex-flow: column;
  gap: 10px;
  height: 130px;
  justify-content: center;
  width: 200px;
}

.filter label {
  display: flex;
  flex-flow: row-reverse;
  gap: 10px;
  height: 15px;
  justify-content: flex-end;
}

.filter label input {
  width: 15px;
}
