.search-form {
  color: white;
  padding: 10px 0;
  width: 100%;
}

.search-form fieldset {
  border: 2px dashed white;
  padding: 15px 20px 8px;
}

.search-form input, .search-form select {
  background-color: rgba(255, 255, 255, 0.829);
  border: 2px solid whitesmoke;
  font-weight: 500;
}

.search-form select {
  text-transform: capitalize;
}
