@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500&family=Kalam&family=Poppins:wght@100;300;500&display=swap') ;

.card__character {
  align-items: center;
  background-color: #fddeaf;
  border-radius: 5px;
  box-shadow: 0 0 0 9px #d82004;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 450px;
  justify-content: flex-start;
  padding: 0.5rem 0.6rem;
  position: relative;
  width: 280px;
}

.card__name-rank {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.card__name {
  color: #1b2124;
  font-size: 1.3rem;
  min-height: 25px;
  text-align: start;
}

.container__rarity {
  align-items: center;
  display: flex;
  flex: 1;
  font-family: Kalam , sans-serif;
  justify-content: flex-end;
  width: 100%;
}

.card__rarity {
  display: none;
}


.card__image {
  background-color: rgb(241, 241, 241);
  border-radius: 2px;
  height: 170px;
  width: 280px;
}

.card__description {
  background-color: #edb870;
  border-radius: 2px;
  font-size: 0.8rem;
  min-height: 60px;
  padding: 0.4rem;
  width: 100%;
}

.container__attr {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  width: 100%;
}

.container__trunfo {
  bottom: 5px;
  position: absolute;
  right: 5px;
}

.card__trunfo {
  display: none;
}
