fieldset {
  background-color: rgb(151, 141, 244);
  border: 2rem rgb(93, 98, 8) solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: auto;
  text-align: center;
  width: 360px;
}

h2 {
  font-size: 2rem;
  margin: 1px;
}

h3 {
  font-size: 1rem;
  margin: 1px;
}

img {
  display: flex;
  height: 100%;
  width: 100%;
}

p {
  border: 5px rgb(16, 65, 16) solid;
  border-radius: 25px;
  font-style: italic;
  font-weight: 700;
  margin: 1px;
  max-width: 100%;
  padding: 0.3rem 0.35rem;
}
