.container-card {
  border: 1px solid black;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.containerPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: center;
  height: 400px;
  width: 350px;
  background-color: tomato;
}

.inputNome {
  margin: 10px;
  background-color: lightgrey;
  border-bottom: 1px solid black;
  width: 150px;
  border-radius: 5px;
  text-align: center;
}

.divInputSp {
  display: flex;
  flex-direction: row;
}

.inputdescricao {
  background-color: lightgrey;
  border-bottom: 1px solid black;
  border-radius: 5px;
  height: 60px;
  text-align: center;
}

.atributos {
  background-color: lightgrey;
  margin: 2px;
  width: 100px;
  text-align: center;
}

.inputImg {
  background-color: lightgrey;
}

.saidaImg {
  width: 170px;
}

.divImg {
  border: 1px solid black;
  height: 170px;
  margin: 5px;
}

.containerInputsCard {
  height: 177px;
  margin: 5px;
  border: 1px solid black;
  width: 170px;
}
