.form-card {
  background-color: grey;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 20px;
}

label {
  display: flex;
  flex-direction: column;
}

span {
  text-align: center;
}
