#form-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 500px;
}

#form-card input, #form-card select {
  width: 80%;
  height: 30px;
  border: solid gray 1px;
}

#form-card textarea {
  width: 80%;
  height: 90px;
  border: solid gray 1px;
}

#form-card .content-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#form-card .content-div label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#form-card .content-div label input,
#form-card .content-div label select,
#form-card .content-div label textarea {
  margin: 0 auto;
}
