.section-card {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: fit-content;
}

.title {
  font-weight: 800;
  margin-top: -1px;
}

.card-infos {
  display: flex;
  justify-content: space-around;
}

.card-i {
  width: 300px;
}

.super-trunfo {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 5px;
  width: 100px;
}
