* {
  background: linear-gradient(rgb(205, 191, 191), rgb(71, 77, 71));
  padding-left: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 350px;
}

.cardDiv {
  background: linear-gradient(rgb(124, 124, 18), rgb(225, 225, 174));
  border: 10px solid green;
  height: 500px;
  padding: 10px;
  width: 350px;
}

.divApp {
  display: flex;
}

.cartas-adicionadas {
  display: flex;
}

.super-trunfo {
  background: linear-gradient(green, yellow);
  color: linen;
  font-style: oblique;

  /* font-weight: bold; */
  text-align: center;
}

.rarity {
  background: linear-gradient(rgb(122, 115, 57), rgb(129, 128, 56));
  color: linen;
  font-style: oblique;

  /* font-weight: bold; */
  text-align: center;
}

.card-image {
  height: 230px;
  width: 320px;
}
