/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* RESET DEFAULTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --color1: #67579E;
  --color2: #9175EB;
  --color3: #BCEB69;
  --color4: #435424;
  --color5: #EB5E97;
  --color6: #9E3761;
  --font-display-1: Pacifico, cursive;
}

/* GENERAL */
body {
  background-color: rgb(240, 240, 240);
}

header {
  background-color: var(--color6);
  font-family: var(--font-display-1);
  letter-spacing: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 13vh;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

header h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  text-indent: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 50%;
  min-width: 360px;
  background-color: var(--color2);
  border-radius: 20px;
  gap: 10px;
}

form label{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

form label input {
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 2rem;
}

form label p {
  width: 300px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background-color: var(--color1);
  width: 85%;
  max-width: 1350px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 30px 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.extra-btns-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra-btns-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
}

.extra-btns-container label{
  width: 50%;
}

.extra-btns-container p{
  font-size: 1.4rem;
  color: white;
}

.extra-btns-container select {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

.extra-btns-container input[type=checkbox] {
  height: 20px;
  margin-top: 5px;
}

.extra-btns-container button {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 30%;
  background-color: var(--color5);
  font-weight: 700;
  color: white;
  font-size: 1.3rem;
}

.card-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 450px;
}

.card-display button {
  background-color: var(--color2);
  font-weight: 500;
  font-size: 1.2rem;
  width: 120px;
  color: white;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: var(--color3);
  border: 10px solid var(--color4);
  width: 400px;
  height: 600px;
  border-radius: 15px;
}

.card-container img {
  height: 300px;
  width: 300px;
  border: 3px solid var(--color4);
  border-radius: 10px;
}

.card-container h2 {
  font-size: 1.8rem;
  padding: 10px 5px;
  overflow: hidden;
  text-align: center;
  max-width: 100%;
  height: 75px;
  color: rgba(0, 0, 0, 0.8);
}

.description-container {
  width: 300px;
  height: 90px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.description-container p{
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attr-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.attr-container p {
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: 700;
  color: white;
  border-radius: 100%;
}
.attr1-container {
  background-color: rgb(175, 0, 0);
}

.attr2-container {
  background-color: rgb(27, 27, 198);
  
}

.attr3-container {
  background-color: rgb(226, 200, 48);

}

.card-proprieties {
  background-color: var(--color4);
  width: 100%;
  height: 50px;
  padding: 5px;
}

.card-proprieties p{
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: 20px;
}

.deck-container {
  width: 95%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}