body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  text-align: center;
  padding: 20px;
}

.principal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.form {
  display: flex;
} 

.cardPreview {
 display: flex;
 flex-direction: column;
 background-color: green; 
 border-radius: 30px;
 padding: 20px;
 width: 350px;
 color: white;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #DADEDF;
}

#footer p {
  font-size: small;
  text-align: center;
  margin-top: 20px;
}

.deckPreview {
  margin-bottom: 20px;
}